# Ignore node_modules
node_modules/

# Ignore build artifacts
dist/

# Ignore Jest coverage reports
coverage/

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore npm lock file
package-lock.json

# Ignore yarn lock file
yarn.lock